.ChatRoomMsgs {
    position: relative;
    border: 1px black solid;
    flex: 5;
    overflow: scroll;
    background-color: #f6f8fa;
    .msgs-chatter-wrapper {
        text-align: left;
        padding: 15px;
        .msgs-chatter-portrait {
            // display: inline-block;
            height: 45px;
            width: 45px;
            // border-radius: 100px;
            // border: 1px black solid;
        }
        .msgs-chatter-namecontent-wrapper {
            display: inline-block;
            margin-left: 8px;
            vertical-align: top;
            .msgs-chatter-name {
                width: auto;
                max-width: 300px;
                text-align: left;
                p {
                    line-height: 1;
                    margin-bottom: 0px;
                }
            }
            .msgs-chatter-content {
                position: relative;
                text-align: left;
                margin-top: 0;
                border-radius: 7px;
                padding: 4px 7px;
                display: inline-block;
                margin-top: 5px;
                margin-left: 4px;
                background-color: #7edde686;
                max-width: 400px;
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 16px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-right-color: #7edde686;
                    border-left: 0;
                    margin-top: -6px;
                    margin-left: -6px;
                }
            }
        }
    }
    .msgs-own-wrapper {
        text-align: right;
        padding: 15px;
        .msgs-own-portrait {
            display: inline-block;
            height: 45px;
            width: 45px;
            // border-radius: 100px;
            // border: 1px black solid;
        }
        .msgs-own-namecontent-wrapper {
            display: inline-block;
            margin-right: 8px;
            vertical-align: top;
            .msgs-own-name {
                width: auto;
                max-width: 300px;
                text-align: left;
                p {
                    line-height: 1;
                    margin-bottom: 0px;
                }
            }
            .msgs-own-content {
                position: relative;
                text-align: left;
                margin-top: 0;
                border-radius: 7px;
                padding: 4px 7px;
                display: inline-block;
                margin-top: 5px;
                margin-left: 4px;
                background-color: #5ff892b7;
                max-width: 400px;
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 16px;
                    width: 0;
                    height: 0;
                    border: 6px solid transparent;
                    border-left-color: #5ff892b7;
                    border-right: 0;
                    margin-top: -6px;
                    margin-right: -6px;
                }
            }
        }
    }
}