.LoginHeader {
    min-height: 91vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../../Images/login.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
   color: white;
}
