.modal {
    padding: 0;
  }
  .modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal .modal-body {
    overflow-y: auto;
  }
  .ModalHeader{
    width: 50%;
    max-width: none;
    height: 50%;
    margin: 0;
  }

.test .modal-dialog{
 
  width: 50%;
    max-width: none;
    height: 50%;
    margin: 0;
  }
  .test .modal-content {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    height: 50%;
    width:50%;
    border: 0;
    border-radius: 0;
  }

  .smallFooter {
    background-color: azure;
  width: 50%;
    max-width: none;
    margin: 0;
    }