* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
}

.container {
  overflow: hidden;
}

.job-list-badge {
  color: white;
  background-color: grey;
  
}
.job-list-badge2 {
  color: white;
  background-color: grey;
  margin-left: 7px;
  
}

